@font-face {
  font-family: Bungee-Regular;
  src: url(./fonts/Bungee-Regular.ttf);
}

@font-face {
  font-family: ShareTechMono-Regular;
  src: url(./fonts/ShareTechMono-Regular.ttf);
}

body {
  color: white;
  font-family: "ShareTechMono-Regular", "Times New Roman", Times, serif;
  background-color: black;
}

h1 {
  font-family: "Bungee-Regular", "Times New Roman", Times, serif;
  font-size: 2.75rem;
  text-align: center;
}

#profilePhoto {
  width: 25rem;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.containerInstagram {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0 1rem;
}

.containerInstagram a {
  color: aquamarine;
}

.containerInstagram a:hover {
color: red;
}

#instagramIcon {
  margin: 0 1rem 0 0;
  width: 2rem;
  vertical-align: bottom;
}

.profileText {
  display: block;
  margin: auto;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  width: 80%;
  text-align: left;
}

.mainImage {
  width: 24rem;
  border: 1px solid #ddd;
  display: block;
  margin: auto;
}

.containerArrow {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.containerCover {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.thumbnail {
  width: 17rem;
  padding: 0 0.05rem 0;
  cursor: pointer;
  opacity: 0.4;
}

.active {
  opacity: 1;
}

button {
  all: unset;
  width: 25rem;
  background-color: teal;
  box-sizing: border-box;
  text-align: center;
  padding: 0.25rem 0;
  cursor: pointer;
}
